**.retry
__pycache__
*.pyc
.cache
*.egg-info
dist/
.vagrant
*.log
quasar/config/dev.py
quasar/config/dev_priv.py
.venv*
.vscode
*.DS_Store
docs/index.html
docs/manifest.json
docs/run_results.json
docs/catalog.json
docs/compiled
