[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
fixtures = "*"
requests = "*"
lxml = "*"
gnureadline = "*"
psycopg2-binary = "*"
awscli = "*"
oauthlib = "*"
requests-oauthlib = "*"
pika = ">=0.13.0,<1.0.0"
aiofiles = "*"
aiohttp = "*"
boto3 = "*"
pandas = "*"
slackclient = "*"
numpy = "*"
xmltodict = "*"
pydash = "*"
python-dateutil = "==2.6.1"
SQLAlchemy = "*"
dbt = "*"
pipenv = "*"

[requires]
python_version = "3.7"
