[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"

[packages]
fixtures = "*"
requests = "*"
lxml = "*"
gnureadline = "*"
psycopg2-binary = "*"
awscli = "*"
oauthlib = "*"
requests-oauthlib = "*"
pika = ">=0.13.0,<1.0.0"
aiofiles = "*"
aiohttp = "*"
boto3 = "*"
botocore = "*"
pandas = "*"
slackclient = "*"
numpy = "*"
xmltodict = "*"
pydash = "*"
SQLAlchemy = ">=1.3.17"
pipenv = "*"
sh = "*"
contentful = "*"
python-dateutil = "*"
dbt-postgres = "~=0.16"

[requires]
python_version = "3.7"
