beautifulsoup4; python_version >= '3.5'
fixtures; python_version >= '3.5'
SQLAlchemy; python_version >= '3.5'
requests; python_version >= '3.5'
lxml; python_version >= '3.5'
readline; python_version >= '3.5'
psycopg2-binary; python_version >= '3.5'
awscli; python_version >= '3.5'
mysqlclient; python_version >= '3.5'
oauthlib; python_version >= '3.5'
requests-oauthlib; python_version >= '3.5'
pika; python_version >= '3.5'
aiofiles; python_version >= '3.5'
aiohttp; python_version >= '3.5'
boto3; python_version >= '3.5'
pandas; python_version >= '3.5'
slackclient; python_version >= '3.5'
numpy; python_version >= '3.5'
xmltodict; python_version >= '3.5'
pydash; python_version >= '3.5'
