fixtures; python_version >= '3.7'
SQLAlchemy; python_version >= '3.7'
requests; python_version >= '3.7'
lxml; python_version >= '3.7'
gnureadline; python_version >= '3.7'
psycopg2-binary; python_version >= '3.7'
awscli; python_version >= '3.7'
oauthlib; python_version >= '3.7'
requests-oauthlib; python_version >= '3.7'
pika>=0.13.0,<1.0.0; python_version >= '3.7'
aiofiles; python_version >= '3.7'
aiohttp; python_version >= '3.7'
boto3; python_version >= '3.7'
pandas; python_version >= '3.7'
slackclient; python_version >= '3.7'
numpy; python_version >= '3.7'
xmltodict; python_version >= '3.7'
pydash; python_version >= '3.7'
python-dateutil==2.6.1; python_version >= '3.7'
dbt; python_version >= '3.7'
